{% extends "layout.html" %}
{% block content %}

<div class="container about">
    <h1> About us </h1>
    <img src="{{  url_for('static', filename='/images/melkamPhoto.jpg')}}">
    <p class="section-paragraph">
        Ich bin Ashenafi, komme aus Äthiopien und lebe seit 2017 in Berlin. Im Sommer 2020 habe ich Melkam Ethiopia
        gegründet.
        Motiviert dazu hat mich vor allem meine Liebe für äthiopisches Essen.

        <br>
        Mein Ziel ist es, den Menschen in Deutschland die äthiopische Esskultur näher zu bringen. Immer wieder habe ich
        in
        Gesprächen mit verschiedenen Personen beobachtet, wie unbekannt die äthiopische Küche oft noch ist. Selbst wenn
        die
        Menschen in meinem Umfeld die äthiopische Küche kennen, kochen sie es selten zu Hause, da sie vor allem mit der
        Zubereitung von Injera Probleme haben. Seitdem ich nicht mehr in Äthiopien lebe, habe ich mich intensiv damit
        beschäftigt, wie ich hier in Deutschland äthiopisches Essen so kochen kann, dass es schmeckt wie zu Hause. Auch
        mich
        stellte die Zubereitung von Injera hier in Deutschland zunächst vor eine große Herausforderung.

        <br>
        In den letzten Jahren habe ich es aber nach und nach durch viel Ausprobieren gelernt und auch die Zubereitung
        der Soßen
        stetig perfektioniert. Nun möchte ich dazu beitragen, dass meine Kunden unser einzigartiges Essen auch zu Hause
        ohne
        viel Aufwand genießen und dabei gleichzeitig unsere Kultur und unsere Küche besser kennenlernen können. Mit
        einem
        Hintergrund im Bereich Webentwicklung lag es für mich nahe, diesen Service online anzubieten und somit
        deutschlandweit
        Menschen erreichen und mit äthiopischem Essen verwöhnen zu können.
    </p>

</div>

<!--cart-->
<div class="cart-overlay">
    <div class="cart">
        <span class="close-cart">
            <i class="fas fa-window-close"></i>
        </span>
        <h2>your cart</h2>
        <div class="cart-content">
            <!-- cart item
            <div class="cart-item">
                <img src="/images/Beyaynetu.jpg" alt="Beyaynetu">
                <div>
                    <h4> Beyaynetu</h4>
                    <h5>24,99 €</h5>
                    <span class="remove-item">remove</span>
                </div>
                <div>
                    <i class="fas fa-chevron-up"></i>
                    <p class="item-amount">1</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            end if cart item-->
        </div>
        <div class="cart-footer">
            <h3>your total:€ <span class="cart-total">0</span></h3>
            <button class="clear-cart banner-btn">clear cart</button>
        </div>
    </div>
</div>
<!--end of cart-->


{% endblock content %}