{% extends "layout.html" %}
{% block content %}
<div class="container">
        <div class="card">
        <div class="basket">
            <h3>This is your basket:</h3>
            <!--Add list dynamically-->
            <ul class="listOfItems"></ul>
            <button type="button" class="buy btn btn-primary">Go to check out</button>
        </div>
    </div>
        
    <div class="card">
        <div class="checkout">
            <h3>Amount to pay:</h3>
            <!--add amount dynamically-->
        </div>
    </div>
</div>
{% endblock content %}