{% extends "layout.html" %}
{% block content %}
<div class="container about">
    <h1> Äthiopische Esskultur </h1>
    <p class="section-paragraph">
        Die äthiopische Küche ist einzigartig und kaum mit einer anderen Küche zu vergleichen. Das Grundnahrungsmittel
        ist ein
        spezielles pfannkuchenähnliches Sauerteigfladenbrot namens Injera. Injera bildet die Grundlage praktisch jeder
        Mahlzeit
        in Äthiopien und wird aus dem einheimischen äthiopischen Getreide Teff hergestellt. Teff ist reich an Eiweiß und
        100 %
        glutenfrei. Äthiopier lieben Gewürze und fast alle Speisen und Getränke, die die Äthiopier in ihrem Alltag zu
        sich
        nehmen, bestehen aus einem oder mehreren Gewürzen oder Kräutern und sind damit sehr schmackhaft und einzigartig
        -
        überzeug dich selbst!
    </p>

    <h2 class="section-title">Wie isst du äthiopisches Essen?</h2>
    <p class="section-paragraph">Das Grundnahrungsmittel Injera ist in Äthiopien gleichzeitig Teller – auf dem Injera
        werden die verschiedenen, meist
        sehr würzigen Soßen angerichtet – und Besteck. Denn in Äthiopien wird mit den Händen – bzw. der rechten Hand –
        gegessen!
        Mit dieser reißt man sich ein Stückchen vom Injera ab, wickelt Fleisch oder Gemüse darin ein oder tunkt Soße auf
        und
        isst es.<br>
        Normalerweise wird das Essen auf einem großen Injerafladen serviert, von dem alle gemeinsam essen - das
        äthiopische
        Essen ist also nicht nur eine geschmackliche, sondern auch eine soziale Erfahrung.<br>
        Eine weitere besondere äthiopische Essgewohnheit ist das gegenseitige Füttern mit den Händen als ein Akt der
        Freundschaft und Liebe. Beim Essen mit Freunden oder Familie wird ein Stück Injera abgerissen, etwas Fleisch
        oder Wot
        aufgenommen und dann in den Mund des Freundes gesteckt. Dies wird Gursha genannt - je größer die Gursha, desto
        stärker
        die Freundschaft oder Bindung.
    </p>
</div>

<!--cart-->
<div class="cart-overlay">
    <div class="cart">
        <span class="close-cart">
            <i class="fas fa-window-close"></i>
        </span>
        <h2>your cart</h2>
        <div class="cart-content">
            <!-- cart item
            <div class="cart-item">
                <img src="/images/Beyaynetu.jpg" alt="Beyaynetu">
                <div>
                    <h4> Beyaynetu</h4>
                    <h5>24,99 €</h5>
                    <span class="remove-item">remove</span>
                </div>
                <div>
                    <i class="fas fa-chevron-up"></i>
                    <p class="item-amount">1</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            end if cart item-->
        </div>
        <div class="cart-footer">
            <h3>your total:€ <span class="cart-total">0</span></h3>
            <button class="clear-cart banner-btn">clear cart</button>
        </div>
    </div>
</div>
<!--end of cart-->

{% endblock content %}