{% extends "layout.html" %}
{% block content %}

<!--hero-->
<header class="hero">
    <div class="banner">
        <h5>ጤና ይስጥልን (Tena Ystelin!) Welcome</h5>
        <h1 class="banner-title">Melkam Ethiopia</h1>
        <h5>the authentic Ethiopian cooking box with fresh injera</h5>
        <button class="banner-btn shop-link">Discover now</button>
    </div>
</header>
<!--end of hero-->

<!--Listing the advantages of the cooking box-->
<div class="advantages">
    <div class="section-title">
        <h2>our boxes are: </h2>
    </div>
    <div class="section-listing">
        <ul>
            <li>glutenfree</li>
            <li>suitable for people with allergies</li>
            <li>offering a variety of vegetarian and vegan options</li>
            <li>perfectly suitable for an anjoyable meal amoing friends and famliy</li>
            <li>without subscription</li>
        </ul>
        <h4>Try it out yourself!</h4>
    </div>
</div>

<!--end of listing-->

<!-- Our recommendations-->
<div class="container recommendation">
    <h2 class="section-title">Our recommendations: </h2>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="img-container">
                <img src="{{ url_for('static', filename='/images/Beyaynetu.jpg')}}" class="img-fluid">
            </div>
            <h3 class="product">Beyaynetu</h3>
        </div>
        <div class="col-md-5">
            <div class="img-container">
                <img src="{{ url_for('static', filename='/images/MisrWot.jpg') }}" class="img-fluid">
            </div>
            <h3 class="product">Misr Wot</h3>
        </div>
        <button class="banner-btn shop-link">Shop now</button>
    </div>
</div>

<!-- How it works-->
<div class="container explanation">
    <h1>How it works:
    </h1>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h3>1. Choose your favorite box</h3>
            <!--insert Icon-->
            <i class="fas fa-box-open"></i>
            <p>Such dir in unserem Shop dein Lieblingsgericht aus. Wähle aus, mit wie vielen Personen du kochen
                möchtest. Nach der Bezahlung bereiten wir alles vor und versenden die Box zum nächstmöglichen Termin
                (Versand immer mittwochs). Kostenlose Lieferung ab 32 Euro.</p>
        </div>
        <div class="col-md-4">
            <h3>2. Shop fresh ingredients</h3>
            <!--insert Icon-->
            <i class="fas fa-shopping-cart"></i>
            <p>Frische Zutaten einkaufen: Mit der Lieferbestätigung erhältst du von uns eine detaillierte Einkaufsliste.
                Nimm diese mit zum Einkaufen und besorge dir im Supermarkt das frische Gemüse und/oder Fleisch, während
                du auf den Erhalt deiner Box wartest.</p>
        </div>
        <div class="col-md-4">
            <h3>3. Prepare and enjoy!</h3>
            <i class="fas fa-bread-slice"></i>
            <!--insert Icon-->
            <p>Sobald die Box bei dir eintrifft, kannst du loskochen und dir mit Hilfe unseres supereinfachen
                Schritt-für-Schritt-Rezepts auf Deutsch und Englisch den authentischen Geschmack Äthiopiens nach Hause
                holen. Guten Appetit - Melkam Megib.</p>
        </div>
    </div>
</div>
<!--End of how it works-->

<!-- Customer Testomony-->

<!-- Newsletter Registration-->

{% endblock content %}